button{
	 width: 100% 
}
#eql{
	padding: 15px 0;
	width: 100%;
	color: grey;
	font-weight: bold;
}
.numb{
	width: 100%;
	height: 140%;
	font-weight: bold;
}
.simb1{
	height: 120%;
	color: blue;
	font-weight: bold; 
}
.simb2{
	color: blue;
	font-weight: bold;
}
.numb2{
	width: 100%;
	height: 140%;
	color: red;
	font-weight: bold;
}
.numb3{
	width: 100%;
	height: 140%;
	color: grey;
	font-weight: bold;
}
